@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Hind", "sans-serif";
}

.section-title {
  color: var(--color-2);
  font-family: "Montserrat", "sans-serif";
  margin-bottom: 30px;
  font-size: 2rem;
}

.hello-message {
  font-family: "Montserrat", "sans-serif";
  color: var(--color-2);
}

.hello-message::after {
  content: "|";
  margin-left: 2px;
  opacity: 1;
  animation: blink 0.7s infinite;
  /* color: var(--color-3); */
  color: rgb(216, 216, 216);
}

.hello-subtitle {
  color: var(--color-3);
}

/* PROJECTS */

.project-description h1 {
  font-size: 1.2rem;
  color: var(--color-2);
}

.project-description h2 {
  margin-top: -8px;
  font-size: 0.8rem;
  color: rgb(47, 47, 47);
}

.project-description p {
  color: rgb(80, 80, 80);
}
