@import "./vars.css";
@import "./fonts.css";
@import "./icons.css";
@import "./animations.css";

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* GENERAL STYLES */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-section {
  padding: 100px 0;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
}

.header-background-1 {
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.header-background-2 {
  background-color: rgb(255, 255, 255);
}

.navigation-list {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.navigation-list li {
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-2);
}

.navigation-list li:hover {
  color: var(--color-3);
}

/* MAIN */
#home {
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.home-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ABOUT */

.about-paragraph {
  text-align: justify;
  max-width: 600px;
  color: rgb(72, 72, 72);
}

.about-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0;
}

.profile-picture {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 50%;
  animation: arrow-up-down 3s infinite;
}

/* SKILLS */
#skills {
  background-color: rgb(244, 244, 244);
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  justify-content: center;
}

.skill-list li {
  background-color: var(--color-2);
  border-radius: 8px;
  color: white;
  padding: 30px;
  height: 100px;
  width: 100px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.skill-list li:hover {
  background-color: rgb(30, 30, 30);
}

.skill-icon {
  transition: 0.3s;
  width: 80px;
  height: 80px;
}

.skill-list li:hover .skill-icon {
  transform: scale(0.8);
}

.skills-p {
  font-size: 1.1rem;
  transition: 0.3s;
  font-weight: 300;
}

.skill-list li:hover .skills-p {
  font-size: 0.9rem;
}

/* PROJECTS */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projects-grid li {
  width: 200px;
  border: 1px solid rgba(128, 128, 128, 0.383);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.projects-grid li:hover {
  transform: scale(1.1);
  box-shadow: 0 7px 0 rgb(121, 121, 121);
}

.img-sample {
  background-color: black;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 200px;
}

.projects-grid section {
  border-radius: 8px;
}

.project-description {
  padding: 15px;
}

/* CONTACTS */

#contact {
  background-color: rgb(244, 244, 244);
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-list figure,
.contact-list img {
  width: 40px;
  height: 40px;
}

.contact-type {
  font-weight: bold;
  color: var(--color-2);
}

.contact-list a {
  color: var(--color-3);
  transition: 0.3s;
}

.contact-list a:hover {
  color: rgb(73, 96, 201);
  text-decoration: underline;
}

.contact-email {
  color: rgb(67, 67, 67);
  font-style: italic;
}

/* RESPONSIVE */

@media (max-width: 1250px) {
  .container {
    max-width: 1000px;
  }

  .profile-picture {
    width: 250px;
    height: 250px;
  }

  .hello-message {
    font-size: 4rem;
  }

  .hello-subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 850px;
  }

  .about-paragraph {
    max-width: 450px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 750px;
  }

  .page-section {
    padding: 60px 0;
  }

  .home-area {
    align-items: start;
    padding-left: 10px;
  }

  .hello-down-arrow {
    align-self: center;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 650px;
  }

  .about-area {
    flex-direction: column;
    gap: 60px;
    padding: 100px 0;
  }

  .about-paragraph {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 550px;
  }

  .skill-list {
    grid-template-columns: auto auto;
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 450px;
  }

  .hello-message {
    font-size: 3.4rem;
  }

  .hello-subtitle {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 380px;
  }

  .navigation-list {
    justify-content: center;
  }

  .header .container {
    margin: 0 !important;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 350px;
  }

  .skill-list {
    gap: 5px;
  }

  .skill-list li {
    padding: 0;
    gap: 5px;
    width: 120px;
    height: 120px;
    justify-content: center;
  }

  .skill-icon {
    width: 60px;
    height: 60px;
  }

  .skills-p {
    font-size: 0.9rem;
  }

  .skill-list li:hover .skills-p {
    font-size: 0.7rem;
  }

  .contact-list {
    font-size: 0.9rem;
  }
}
